<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsUsuarioSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51371/wsUsuario.asmx" binding="basicHttpBinding"
                bindingConfiguration="wsUsuarioSoap" contract="wsUsuario.wsUsuarioSoap"
                name="wsUsuarioSoap" />
        </client>
    </system.serviceModel>
</configuration>